@font-face {
    font-family: 'BebasNeueLight';
        src: url('https://cdn.rainbow6russia.ru/streams/fonts/bebas/BebasNeue%20Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueRegular';
        src: url('https://cdn.rainbow6russia.ru/streams/fonts/bebas/BebasNeue%20Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
:root {
    --r6-blue: #006ecc;
    --r6-orange: #dd7624;
}
body, html {
    width: 1920px;
    margin: 0;
    font-family: 'BebasNeueRegular' !important;
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: transparent;
    position: relative;
}
p, h1, h2, h3 {
    margin: 0;
}